In [32]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np

In [10]:
data = pd.read_csv("titanic.csv")
data.tail()

,Unnamed: 0,PassengerId,Survived,Sex,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Family_size,Title_1,Title_2,Title_3,Title_4,Emb_1,Emb_2,Emb_3
95,886,887,0,1,0.3375,0.025374,0,1,0,0.0,1,0,0,0,0,0,1
96,887,888,1,0,0.2375,0.058556,1,0,0,0.0,0,0,0,1,0,0,1
97,888,889,0,0,0.3500,0.045771,0,0,1,0.3,0,0,0,1,0,0,1
98,889,890,1,1,0.3250,0.058556,1,0,0,0.0,1,0,0,0,1,0,0
99,890,891,0,1,0.4000,0.015127,0,0,1,0.0,1,0,0,0,0,1,0

In [18]:
X = data.loc[:, "Sex":"Fare"]
Y = data["Survived"]
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3)

In [22]:
rfc = RandomForestClassifier(max_depth=2)
rfc.fit(X_train, Y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=2, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [25]:
print("Train data score: ", rfc.score(X_train, Y_train))
print("Test data score:  ", rfc.score(X_test, Y_test))

Train data score:  0.8
Test data score:   0.8