In [12]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np

In [13]:
data = pd.read_csv("titanic.csv")
data.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [14]:
data = data.drop(["Name", "SibSp", "Parch", "Ticket", "Cabin"], axis="columns")

In [15]:
for i in range(0, len(data)):
    if data.loc[i, "Embarked"] == "Q":
        data.loc[i, "Embarked"] = 0
    elif data.loc[i, "Embarked"] == "C":
        data.loc[i, "Embarked"] = 1
    elif data.loc[i, "Embarked"] == "S":
        data.loc[i, "Embarked"] = 2
    else:
        data.loc[i, "Embarked"] = 0
        
    if data.loc[i, "Sex"] == "male":
        data.loc[i, "Sex"] = 1
    else:
        data.loc[i, "Sex"] = 0
    
    if np.isnan(data.loc[i, "Age"]):
        data.loc[i, "Age"] = 0

In [16]:
X = data.loc[:, "Pclass":"Embarked"]
Y = data["Survived"]

In [17]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, random_state=1, test_size=0.3)

In [18]:
rfc = RandomForestClassifier(max_depth=2, random_state=1)
rfc.fit(X_train, Y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=2, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=1, verbose=0, warm_start=False)

In [19]:
print("Train data score: ", rfc.score(X_train, Y_train))
print("Test data score:  ", rfc.score(X_test, Y_test))

Train data score:  0.8025682182985554
Test data score:   0.7164179104477612

In [26]:
PC = int(input("Your Pclass: "))
S = int(input("Your sex: "))
A = int(input("Your age: "))
F = int(input("Your fare: "))
C = int(input("Your class: "))

rfc.predict(np.array([PC, S, A, F, C]).reshape(1, -1))

Your Pclass: 1
Your sex: 0
Your age: 20
Your fare: 40
Your class: 2

array([1], dtype=int64)